{erl_opts, [
    debug_info,
    {i, "apps"}
]}.

{deps, [
    {color, {git, "https://github.com/julianduque/erlang-color.git", {ref, "master"}}}
]}.

{profiles, [
    {dev, [
        {deps, [
            {eper, {git, "https://github.com/massemanet/eper.git", {ref, "master"}}}
        ]}
    ]}
]}.
